.phone-frame {
  position: relative;
  width: 393px;                  /* iPhone 16 Pro 가로폭 */
  height: 852px;                 /* iPhone 16 Pro 세로높이 */
  border: 12px solid #000;       /* 두꺼운 테두리로 휴대폰 느낌 */
  border-radius: 50px;           /* 모서리 둥글게 */
  margin: 40px auto;             /* 브라우저 중앙에 배치 */
  overflow: hidden;              /* 내부 내용 넘치면 숨김 */
  box-shadow: 0 0 20px rgba(0,0,0,0.3); /* 입체감 그림자 */
  background: #fff;              /* 내부 배경 흰색 */
}
.App {
  display: flex;
  flex-direction: column;   /* 세로 방향 배치 */
  min-height: 100vh;        /* 화면 높이 100% */
}
.header {
  display: flex;
  align-items: center;
  justify-content: center; /* 가운데 요소 배치 */
  position: relative;
  height: 50px;
  padding: 10px 20px;
}

.menuButton {
  font-size: 24px;
  cursor: pointer;
  margin-right: auto; /* 왼쪽 정렬 */
}
.side-menu {
  position: absolute;
  top: 0;
  left: 0; /* 항상 왼쪽 0 위치 */
  width: 250px;
  height: 100%;
  background-color: white;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
  padding: 20px;
  transition: transform 0.3s ease-in-out;
  transform: translateX(-100%); /* 처음엔 화면 밖으로 완전히 숨김 */
  z-index: 1002;
}

.side-menu.open {
  transform: translateX(0); /* 열리면 원위치 */
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* 반투명 검은 배경 */
  z-index: 1000;
}
.logo-box2 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background: #ddd;
  width: 100px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  border-radius: 4px;
}

.username {
  font-size: 14px;
  font-weight: bold;
}
.sidefont{
    font-weight: bold;
    font-size: 30px;
}
.sideMyPageBtn{
    border: none;
    width: 40px;
    height: 20px;
    padding: 3px 3px;
}
.menu-list {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: right;
}
.main-container {
  margin-top: 40px;
  background-color: #ffe6ea; /* 연한 분홍색 */
  border: none;              /* 테두리 없음 */
  padding: 16px;             /* 안쪽 여백 */
  border-radius: 0px;
  height: 400px;             /* 원하는 고정 높이 */
  overflow-y: auto;          /* 내용 넘칠 때 세로 스크롤 생성 */
}

.main-container-time {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  width: 100%;
}

/* 날짜는 왼쪽 칸에 위치 */
.main-container-time-date {
  grid-column: 1 / 2;
  justify-self: start;  /* 왼쪽 정렬 */
  background-color: #FFFFFF;
  padding: 5px;
  font-size: 30px;
}

/* 요일은 가운데 칸에 위치 */
.main-container-time-dayofweek {
  grid-column: 2 / 3;
  justify-self: center; /* 가운데 정렬 */
  font-size: 30px;
}


